{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Login{% endblock %}</title>
    {% block stylesheet %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/login/login.css' %}">
    {% endblock %}
</head>
<body >
        <!-- Content Wrapper. Contains page content -->
        <div class="container content-wrapper" 
            data-host="{% if request.is_secure %}https://{{ request.get_host }}{% else %}http://{{ request.get_host }}{% endif %}"
        >
            {% block content %}
            <div class="container">
                <div class="paper">
                    <form id="login-form" class="box">
                        {% csrf_token %}
                        <h1>Login</h1>
                        <input type="text" name="username" id="in-username" placeholder="Username">
                        <input type="password" name="password" id="in-password" placeholder="Password"> 
                        <p><a class="text-muted" href="{% url 'registration' %}">Sign Up?</a> </p>
                        <button type="button" class="btn btn-success" id="btn-login">Login</button>
                    </form>
                </div>
            </div>
            {% endblock %} 
        </div>
                
        {% block javascript %}
            <!-- REQUIRED SCRIPTS -->
            <!-- jQuery -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.map"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
            <script src="https://cdn.tutorialjinni.com/izitoast/1.4.0/js/iziToast.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
            <script src="{% static 'js/login/login.js' %}"></script>

        {% endblock %}

</body>
</html>