{% extends "base/tracker.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard/admin.css' %}">   
    <!-- SLIDER -->
<section>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
          <div class="item slider1 active">
              <img src="{% static 'img/cole-keister-image.jpg' %}" alt="">
              <div class="carousel-caption slider-con">
                  <h2>The <span>Graduate Tracker</span></h2>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                  <a href="#" class="bann-btn-2">Read More</a>
              </div>
          </div>
          <div class="item">
              <img src="{% static 'img/wander-fluer-unsplash.jpg' %}" alt="">
              <div class="carousel-caption slider-con">
                  <h2>Admission open <span>2018</span></h2>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                  <a href="#" class="bann-btn-2">Read More</a>
              </div>
          </div>
          <div class="item">
              <img src="{% static 'img/cole-keister-image.jpg' %}" alt="">
              <div class="carousel-caption slider-con">
                  <h2>Education <span>Master</span></h2>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                  <a href="#" class="bann-btn-2">Read More</a>
              </div>
          </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <i class="fa fa-chevron-left slider-arr"></i>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <i class="fa fa-chevron-right slider-arr"></i>
      </a>
  </div>
</section>

<!-- QUICK LINKS -->
<section>
  <div class="container">
      <div class="row">
          <div class="wed-hom-ser">
              <ul>
                  <li>
                      <a href="awards.html" class="waves-effect waves-light btn-large wed-pop-ser-btn">
                          <img src="images/icon/h-ic1.png" alt=""> Students</a>
                  </li>
                  <li>
                      <a href="admission.html" class="waves-effect waves-light btn-large wed-pop-ser-btn">
                          <img src="images/icon/h-ic2.png" alt=""> Courses</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</section>
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script src="{% static 'js/tracker/dashboard.js' %}"></script>
    
{% endblock %}