body{
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.paper {
    background: rgba(7, 7, 6, 0.897);
    padding: 30px;
    position: relative;
}

.paper,
.paper::before,
.paper::after {
    /* Styles to distinguish sheets from one another */
    box-shadow: 5px 5px 5px rgba(46, 46, 45, 0.897);
    border: 1px solid rgb(122, 120, 120);
}

.paper::before,
.paper::after {
    content: "";
    position: absolute;
    height: 95%;
    width: 99%;
    background-color: rgb(116, 115, 115);

}

.paper::before {
    right: 15px;
    top: 0;
    transform: rotate(-10deg);
    z-index: -1;
}
.paper::after {
    top: 5px;
    right: -5px;
    transform: rotate(10deg);
    z-index: -2;
    box-shadow: 1px solid rgb(116, 112, 112);
}
.container{
    margin-top: 10%;
    width: 430px;
}
form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
    border-radius: 10px;
}



.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 10px 10px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 5px;
  transition: 0.25s
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 300px;
  border-color: #2ecc71
}


.box input[type="submit"]:hover {
  background: #2ecc71
}
.box button{
width: 100%;
}
.box p{
  text-align: center;
}