html,
body * {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif
}

body {
    background: #40E0D0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
}

.container {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 100px
}

.frame {
    width: 650px;
    /* background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS82mL0lCjn8cUhnzzoE1oYnjPkobX4USGFXw&usqp=CAU) no-repeat center center; */
    background: white;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    border-top: solid 1px rgba(255, 255, 255, .5);
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all .5s ease
}

.nav {
    width: 100%;
    height: 100px;
    padding-top: 40px;
    opacity: 1;
    transition: all .5s ease
}

.nav-up {
    transform: translateY(-100px);
    opacity: 0
}

li {
    padding-left: 15px;
    font-size: 18px;
    margin-left: 50px;
    display: inline;
    text-align: center;
    text-transform: uppercase;
    padding-right: 10px;
    /* color: #ffffff */
    color: black;
}

.active {
    cursor: pointer;
    /* color: #ffffff !important; */
    text-decoration: none;
    border-bottom: solid 5px #12d300;
    padding-bottom: 10px;
    font-weight: 1000;
}

.password-notif{
    color: red;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    font-weight: bolder;
}