{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Registration{% endblock %}</title>
    {% block stylesheet %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/registration/registration.css' %}">
    {% endblock %}
</head>
<body >
        <!-- Content Wrapper. Contains page content -->
        <div class="container content-wrapper" 
            data-host="{% if request.is_secure %}https://{{ request.get_host }}{% else %}http://{{ request.get_host }}{% endif %}"
        >
            {% block content %}
            <div class="container">
                <div class="frame">
                    <div class="nav">
                        <ul class="links">
                            <li class="signin-active"><a class="btn active" id="tab-admin">School Admin</a></li>
                            <li class="signup-inactive"><a class="btn" id="tab-student"> School Alumna</a></li>
                        </ul>
                    </div> 
                    <div class="container-fluid">
                        <form id="form-admin">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class='row'>
                                    <div class='col-md-6 col-sm-12'>
                                        <label for="in-admin-first-name">First Name</label>
                                        <input type="text" class="form-control" name="ProfileFirstName" id="in-admin-first-name"  placeholder="John">
                                    </div>
                                    <div class='col-md-6 col-sm-12'>
                                        <label for="in-admin-last-name">Last Name</label>
                                        <input type="text" class="form-control" name="ProfileLastName" id="in-admin-last-name" placeholder="Doe">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class='row'>
                                    <div class='col-md-6 col-sm-12'>
                                        <label for="in-admin-middle-name">Middle Name</label>
                                        <input type="text" class="form-control" class="in-admin-middle-name" id="in-admin-middle-name" placeholder="Doe">
                                    </div>
                                    <div class='col-md-6 col-sm-12'>
                                        <label for="in-admin-suffix">Suffix</label>
                                        <input type="text" class="form-control" name="in-admin-suffix" id="in-admin-suffix" placeholder="II, Jr., Sr.">
                                    </div>
                                </div>                            
                            </div>
                            <div class="form-group">
                                <label for="in-admin-birthday">Birthday</label>
                                <input type="date" class="form-control" id="in-admin-birthday" name="ProfileBirthdate" placeholder="ex. University of the South">
                            </div>
                            <div class="form-group">
                                <label for="in-admin-school">School Administered</label>
                                <input type="text" class="form-control" id="in-admin-school" name="school_name" placeholder="ex. University of the South">
                            </div>
                            <div class="form-group">
                                <label for="in-admin-school-code">School Code</label>
                                <input type="text" class="form-control" id="in-admin-school-code" name="school_code" placeholder="ex. SCH1163732">
                            </div>                          
                            <div class="form-group">
                                <div class='row'>
                                    <div class='col-md-6 col-sm-12'>
                                        <label for="sel-admin-province">Province</label>
                                        <select name="sel-admin-province" id="sel-admin-province" name="sel-admin-province" class="form-control">
                                            <option value="0">Select Province...</option>
                                          </select>
                                    </div>
                                    <div class='col-md-6 col-sm-12'>
                                        <label for="sel-admin-city">City</label>
                                        <select name="sel-admin-city" id="sel-admin-city" name="sel-admin-city" class="form-control">
                                            <option value="0">Select City...</option>
                                        </select>
                                    </div>
                                </div>                                                   
                            </div>                  
                            <div class="form-group">
                                <div class='row'>
                                    <div class='col-md-6 col-sm-12'>
                                        <label for="sel-admin-barangay">Barangay</label>
                                        <select name="sel-admin-barangay" id="sel-admin-barangay" name="sel-admin-barangay" class="form-control">
                                            <option value="0">Select Barangay...</option>
                                          </select>
                                    </div>
                                    <div class='col-md-6 col-sm-12'>
                                        <label for="in-admin-street">Street</label>
                                        <input type="text" class="form-control" name="school_street" id="in-admin-street" placeholder="N. Bacalso Ave.">
                                    </div>
                                </div>                                                   
                            </div>
                            <div class="form-group">
                                <div class='row'>
                                    <div class='col-md-6 col-sm-12'>
                                        <label for="in-admin-email">School Email Address</label>
                                        <input type="email" class="form-control" id="in-admin-email" name="school_email" placeholder="admin@sample.com">
                                    </div>
                                    <div class='col-md-6 col-sm-12'>
                                        <label for="in-admin-contact-number">Contact Number</label>
                                        <input type="text" class="form-control" id="in-admin-contact-number" name="school_contact" placeholder="09263548575">
                                    </div>
                                </div>  
                            </div>
                            <div class="form-group">
                                <label for="in-admin-password">Password</label>
                                <input type="password" class="form-control" id="in-admin-password" name="in-admin-password" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="in-admin-confirm-password">Confirm Password</label>
                                <input type="password" class="form-control" id="in-admin-confirm-password" name="UserLoginPassword" placeholder="">
                                <span class="password-notif" id="password-notif" hidden>Password didn't match</span>
                            </div>
                            <button class="btn btn-primary mb-3" type="button" id="btn-admin-register">Register</button>
                        </form>
                        <form id="form-student" hidden>
                            {% csrf_token %}
                            <div class="form-group">
                                <div class='row'>
                                    <div class='col-md-6 col-sm-12'>
                                        <label for="in-student-first-name">First Name</label>
                                        <input type="text" class="form-control" name="ProfileFirstName" id="in-student-first-name" placeholder="John">
                                    </div>
                                    <div class='col-md-6 col-sm-12'>
                                        <label for="in-student-last-name">Last Name</label>
                                        <input type="text" class="form-control" id="in-student-last-name" name="ProfileLastName" placeholder="Doe">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class='row'>
                                    <div class='col-md-6 col-sm-12'>
                                        <label for="in-student-middle-name">Middle Name</label>
                                        <input type="text" class="form-control" id="in-student-middle-name" name="in-student-middle-name" placeholder="">
                                    </div>
                                    <div class='col-md-6 col-sm-12'>
                                        <label for="in-student-suffix">Suffix</label>
                                        <input type="text" class="form-control" id="in-student-suffix" name="in-student-suffix" placeholder="II, Jr., Sr.">
                                    </div>
                                </div>                            
                            </div>
                            <div class="form-group">
                                <label for="in-student-birthday">Birthday</label>
                                <input type="date" class="form-control" id="in-student-birthday" name="ProfileBirthdate" placeholder="ex. University of the South">
                            </div>
                            <div class="form-group">
                                <label for="sel-student-school">School Graduated</label>
                                <select name="sel-student-school" id="sel-student-school" class="form-control">
                                    <option value="0">Pick your school graduated...</option>
                                  </select>
                            </div>
                            <div class="form-group">
                                <label for="sel-student-course">Course</label>
                                <select name="course_name" id="sel-student-course" class="form-control">
                                    <option value="0">Select your course...</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="in-student-year-graduated">Date Graduated</label>
                                <input type="text" class="form-control" id="in-student-year-graduated" name="school_year_graduated" placeholder="2020-03-23">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class='col-md-6 col-sm-12'>
                                        <label for="in-student-company">Company</label>
                                        <input type="text" class="form-control" name="company_name" id="in-student-company" placeholder="add None if none">
                                    </div>
                                    <div class='col-md-6 col-sm-12'>
                                        <label for="sel-student-status">Status</label>
                                        <select name="employee_status" id="sel-student-status" class="form-control">
                                            <option value="0">Select your status...</option>
                                            <option value="1">Employed</option>
                                            <option value="2">Unemployed</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                
                                <div class="form-group">
                                    <div class='row'>
                                        <div class='col-md-6 col-sm-12'>
                                            <label for="in-student-email">Email address</label>
                                <input type="email" class="form-control" id="in-student-email" name="Email" placeholder="you@sample.com">
                                        </div>
                                        <div class='col-md-6 col-sm-12'>
                                            <label for="in-student-contact">Contact Number</label>
                                            <input type="number" class="form-control" id="in-student-contact" name="Mobile" placeholder="+63 282 3642">
                                        </div>
                                    </div>                            
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="in-student-password">Password</label>
                                <input type="password" class="form-control" name="in-student-password" id="in-student-password" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="in-student-confirm-password">Confirm Password</label>
                                <input type="password" class="form-control" name="UserLoginPassword" id="in-student-confirm-password" placeholder="">
                                <span class="password-notif" id="password-student-notif" hidden>Password didn't match</span>
                            </div>
                            <button type="button" class="btn btn-primary mb-3" id="btn-student-register">Register</button>
                        </form>
                        <form id="dummy-form" hidden>
                            {% csrf_token %}
                        </form>
                    </div>               
                </div>
            </div>
            {% endblock %} 
        </div>
                
        {% block javascript %}
            <!-- REQUIRED SCRIPTS -->
            <!-- jQuery -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.map"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
            <script src="https://cdn.tutorialjinni.com/izitoast/1.4.0/js/iziToast.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
            <script src="{% static 'js/registration/registration.js' %}"></script>

        {% endblock %}

</body>
</html>