{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Graduate Tracker{% endblock %}</title>
    {% block stylesheet %}    
        
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"/> -->
        <link rel="stylesheet" href="{% static 'css/base/bootstrap.css' %}">    
        <link rel="stylesheet" href="{% static 'css/base/font-awesome.min.css' %}">    
        <link rel="stylesheet" href="{% static 'css/base/materialize.css' %}">    
        <link rel="stylesheet" href="{% static 'css/base/mob-tracker.css' %}">    
        <!-- iziToast -->
        <link rel="stylesheet" href="{% static 'vendor/plugins/iziToast/iziToast.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/plugins/iziToast/iziToast.min.css' %}">        
        <link rel="stylesheet" href="{% static 'css/base/tracker.css' %}">         
    {% endblock %}
</head>
<body >

<!-- Content Wrapper. Contains page content -->
<div class="container-fluid content-wrapper" 
    data-host="{% if request.is_secure %}https://{{ request.get_host }}{% else %}http://{{ request.get_host }}{% endif %}">
    
    <!-- MOBILE MENU -->
    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
                        <a href="index-2.html"><img src="images/logo.png" alt="" />
						</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--HEADER SECTION-->
    <section>
        <!-- TOP BAR -->
        <div class="ed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </div>

        <!-- LOGO AND MENU SECTION -->
        <div class="top-logo" data-spy="affix" data-offset-top="250">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wed-logo">
                            <a href="index-2.html"><img src="images/logo.png" alt="" />
                            </a>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li><a href="index-2.html">Home</a></li>
                                <li class="about-menu"><a href="about.html" class="mm-arr">About us</a></li>
                                <li><a href="dashboard.html">Student</a>
                                </li>
                                <li><a href="contact-us.html">Contact us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="all-drop-down-menu">

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--END HEADER SECTION-->
            {% block content %}  {% endblock %} 
        </div>
 
                
        {% block javascript %}
        
            <!-- REQUIRED SCRIPTS -->              
            <script src="{% static 'js/base/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/base/custom.js' %}"></script>
            <script src="{% static 'js/base/main.min.js' %}"></script>
            <script src="{% static 'js/base/materialize.min.js' %}"></script>
            <!-- iziToast -->
            <script src="{% static 'vendor/plugins/iziToast/iziToast.js' %}"></script>      
            <script src="{% static 'vendor/plugins/iziToast/iziToast.min.js' %}"></script>            
            <script src="{% static 'js/base/tracker.js' %}"></script>
        {% endblock %}
</body>
</html>